.one, .two, .three, .four, .five, .six, .seven, .eight, .eleven, .twelve, .nineteen, .twenty {
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
}

.one {
  background: #ffff33;
}
.two {
  background: #ffff33;
}
.three {
  background: #ff9933;
}
.four {
  background: #ff9933;
}
.five {
  background: #339933;
}
.six {
  background: #339933;
}
.seven {
  background: #ff0000;
}
.eight {
  background: #ff0000;
}
.eleven {
  background: #0099cc;
}
.twelve {
  background: #0099cc;
}
.nineteen {
  background: #d5cfa3;
}
.twenty {
  background: #d5cfa3;
}