.fullWidth {
  width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.fullHeight {
  height: 64px;
}

.clearBtn :global(.pe-ripple), .forwardBtn :global(.pe-ripple) {
  color: red !important;
}

.above {
  z-index: 20;
  background: white
}
