:global(.pe-textfield__input-area) {
  height: auto !important;
}

:global(.pe-textfield__input ) {
  height: auto !important;
  padding-top: 22px !important;
}

:global(.pe-textfield__label) {
  height: auto !important;
  padding-top: 22px !important;
}

:global(.pe-search__content) {
  height: 100% !important
}

:global(.pe-search) {
  height: 100% !important;
}
