
html {
	background: red;
	width: 100%;
}

:local(.main) {
	background: white;
}

h1 {
	font-size: 1em;
	max-width: 100%;
}

:local(.className) {
	color: white;
}

button {
	height: 50px;
	width: 100%;
}